body {
  height: 100vh;
}

:root {
  --gridX: 0
  --gridy: 0
}

.grid {
  background-color: red;
  display: grid;
  width: 1920px;
  height: 1080px;
  background-image: url("./image.jpg");
  background-size: cover;
  grid-template-columns: repeat(var(--gridX), 1fr);
  grid-template-rows: repeat(var(--gridy), 1fr);
  position: relative;
  width: 40rem;
  height: 20rem;
}

.grid > div {
  border: 1px solid red;
  transition: background-color 300ms ease-in-out;
}

.grid > div:hover {
  background-color: red;
}
